{% extends "core/base.html" %}
{% block content %}

<h2 class="mb-4">My Tasks</h2>

<!-- DATE SELECT -->
<form method="get">
    <input type="date" name="date" value="{{ selected_date }}">
    <button type="submit">Show</button>
</form>

<hr>

<!-- ADD TASK -->
<form method="post" class="input-group mb-3">
    {% csrf_token %}
    <input type="text" name="title" class="form-control" placeholder="New task..." required>
    <button class="btn btn-success">Add</button>
</form>

<hr>

<ul class="list-group">
    {% for todo in todos %}
        <li class="list-group-item d-flex justify-content-between">
            {{ todo.title }}
            <span class="badge bg-primary">{{ todo.date }}</span>
        </li>
    {% endfor %}
</ul>

{% endblock %}
